<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'HomeApp/base.html' %}
    {% load static %}
    <meta charset="UTF-8">
    {% block title %}
    <title>About Us</title>
    {% endblock %}
<style>

</style>
</head>

<body>

    {% block body%}

        <div class="container" style="background: #FFFFFF;margin-top: 2%">
            <div class="row">
                <h1 style="display: flex; justify-content: center">About Us</h1>
                <h4 class="about-us">
                    Crystal was formally known as Association of Students of Jagannath Hall, ACCE, University of Dhaka. It has been conducting many activities like arranging the Saraswati Puja representing the department, organizing re unions and study tours. But to do this activities in an organized way, a formal name “Crystal” was given in 2019 during the Saraswati Puja and a souvenir (Nano) was also published containing the writings  of current students and the profile of current students.
                </h4>
                <h4 class="about-us" style="padding-bottom: 5%">
                    Our organization aims to enrich the current activities more elaborately and create a strong bond between the current students and the alumni of Department of Applied Chemistry and Chemical Engineering (Male Hindu students of Jagannath hall and Female Hindu students of other halls). Currently activities of our organization is sincerely supervised by Mr. Shaikat Chandra Dey, Assistant Professor, Department of Applied Chemistry & Chemical Engineering. Professor Dipti Saha, Chairman, Department of Applied Chemistry & Chemical Engineering also attends all of our activities and monitors our progress.
                </h4>

            </div>
        </div>

    {% endblock %}

</body>

</html>