<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'HomeApp/base.html' %}
    {% load static %}
    <link rel="stylesheet" href={% static "css/alumni_style.css" %}>
    <meta charset="UTF-8">
    {% block title %}
        {% if current_event %}
            <title>Event: {{ current_event.title }}</title>
        {% else %}
            <title>Event: Not Found</title>
        {% endif %}

    <link rel="favicon" href="{% static "images/favicon.png" %}">
    {% endblock %}
</head>

<body>
    {% block body%}

        <div class="container">
        <div class="col-md-12" style="background: #FFFFFF;margin-top: 2%">

            <div class="col-md-8">
                <h1>Event Details</h1>
                {% if current_event %}
                    <div style="background: #FFFFFF;padding: 3%;">
                        {% if current_event.notice_pic %}
                          <img class="img-responsive" style="width: 100%;height: 350px" src="{{ current_event.notice_pic.url }}" alt="Avatar">
                        {% else %}
                          <img style="width: 100%;height: 350px" src="{% static 'images/ImageTemporarilyUnavailable 640X640.jpg' %}" alt="Avatar">
                        {% endif %}
                        <h1>{{ current_event.title }}</h1>
                        <p>{{ current_event.description }}</p>
                    </div>
                {% else %}
                    <div class="jumbotron">
                        <h1 style="text-align: center">Not Found!!!</h1>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-4" style="background: #FFFFFF;padding: 3%">
                <h1>Events</h1>

                {% if events.exists %}
                    {% for event in events %}
                        <h3><a href="{% url 'HomeApp:upcoming-event' event.pk %}">{{ event.title }}</a></h3>
                        <p style="overflow: hidden;text-overflow: ellipsis;line-height: 16px;
                        max-height: 48px;-webkit-box-orient: vertical">{{ event.description }}</p>
                        <a href="{% url 'HomeApp:upcoming-event' event.pk %}">Read More</a>
                    {% endfor %}
                {% else %}
                    <div class="jumbotron">
                        <h1 style="text-align: center">Not Found!!!</h1>
                    </div>
                {% endif %}
            </div>
        </div>

        </div>


    {% endblock %}

</body>

</html>